/* ForestProfileSelector.module.css */
/* Contains styling for the Forest Profile Selector component (ForestProfileSelector.jsx). */




/* Defines the grid of forest profile cards, with 5 cards
for screens > 768px wide */
.responsiveGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  max-width: 1600px;
  margin: 0 auto;
}


/* MOBILE & TABLET SCREEN WIDTHS */

/* Defines grid numbers for screens that are between 769 and 1200px wide. */
@media (max-width: 1200px) {
  .responsiveGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Defines grid numbers for screens that are <= 768 px wide. */
@media (max-width: 768px) {
  .responsiveGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Defines number of cards for screens that are <= 640 px wide. */
@media (max-width: 640px) {
  .responsiveGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}




/* ******************************** */

/* Styles each forest profile card. */
.gridItem {
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #383838
}

/* Styles each forest card image */
.gridItem img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  border: 1px solid #383838;
}


/* Styles title text. */
.gridItemTitle {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}


/* Styles description text. */
.gridItemDesc {
  font-size: 0.9rem;
  color: #383838;
}


/* Styles color when selected */
.selected {
  background-color: hsl(93, 100%, 89%);
}