/* FrostedImage.css */

/*

Contains styling for images that require attributions, where
the image is "frosted" when hovered over by the mouse and the 
attribution is shown (FrostedImage.jsx).

*/



/* Container for the frosting component. */
.frosted-container {
  position: relative;
  max-width: 400px;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
}

/* Transition specifications for frosting the image. */
.frosted-image {
  width: 100%;
  border-radius: 10px;
  height: auto;
  transition: filter 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
  display: block;
}


/* Creates an overlay. */
.frosted-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #001b3a;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}




/* Handles the mouse hover functionality */
.frosted-container:hover .frosted-image {
  filter: blur(8px) brightness(0.8);
  opacity: 0.9;
  transform: scale(1.05);
}

.frosted-container:hover .frosted-overlay {
  opacity: 1;
}


/* Specifies image size for larger images. */
.frosted-container.large {
  max-width: 700px;
}

/* Specifies image size for larger images. */
.frosted-container.xlarge {
  max-width: 1500px;
}

/* Specifies in-line embedded image styling. Float left places 
the image on the left side of the page and text wraps around it.
Float right places the image on the right side of the page. */
.frosted-container.float-left {
  float: left;
  margin: 1em 1em 1em 0;
  max-width: 40%;
}

.frosted-container.float-right {
  float: right;
  margin: 1em 1em 1em 1em;
  max-width: 40%;
}

/* Special styling for portrait style images. */
.frosted-container.portrait-image {
  max-width: 350px;
  max-height: 800px;
}




/* Styles for different screen sizes. */
@media (max-width: 1600px) {
  .frosted-container.large {
    max-width: 750px;
  }
  .frosted-container.xlarge {
    max-width: 1500px;
  }
}


@media (max-width: 1200px) {
  .frosted-container.large {
    max-width: 600px;
  }
  .frosted-container.xlarge {
    max-width: 600px;
    overflow-x: auto;
  }
}

@media (max-width: 800px) {
  .frosted-container.large {
    max-width: 500px;
  }
  .frosted-container.xlarge {
    max-width: 400px;
  }
}

@media (max-width: 600px) {
  .frosted-container.float-left,
  .frosted-container.float-right {
    float: none;
    display: block;
    margin: 1em auto;
    max-width: 100%;
  }

  .frosted-container.large {
    max-width: 60vh;
  }
  .frosted-container.xlarge {
    max-width: 80vh;
  }
  .frosted-container.portrait-image {
    max-width: 80%; /* Screen-size responsive. */
    max-height: 250px;
    float: none;
    margin: 1em auto;
  }
}

@media (max-width: 500px) {
  .frosted-container.float-left,
  .frosted-container.float-right {
    float: none;
    display: block;
    margin: 1em auto;
    max-width: 100%;
  }

  .frosted-container.large {
    max-width: 60vh;
  }
  .frosted-container.xlarge {
    max-width: 60vh;
  }
  .frosted-container.portrait-image {
    max-width: 80%; /* Screen-size responsive. */
    max-height: 250px;
    float: none;
    margin: 1em auto;
  }
}


@media (max-width: 400px) {
  .frosted-container.large {
    max-width: 35vh;
  }
  .frosted-container.xlarge {
    max-width: 32vh;
  }
}

