/* FrostedImage.css */

/*

Contains styling for images that require attributions, where
the image is "frosted" when hovered over by the mouse and the 
attribution is shown (FrostedImage.jsx).

*/



/* Container for the frosting component */
.frosted-container {
  position: relative;
  width: 45%;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
}

/* Transition specifications for frosting the image */
.frosted-image {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}


/* Creates an overlay */
.frosted-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #001b3a;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}




/* Handles the mouse hover functionality */
.frosted-container:hover .frosted-image {
  filter: blur(8px) brightness(0.8);
  opacity: 0.9;
  transform: scale(1.05);
}

.frosted-container:hover .frosted-overlay {
  opacity: 1;
}
