/* HeaderComp.module.css */

/* Contains styling for the Header component (HeaderComp.jsx). */



/* Styles the Header divider block */
.HeaderComp {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    max-height: 10%;
}