/* InlineImageText.css */

/* Contains styling for the InlineImageText component (InlineImageText.jsx). */




/* Formats the text. */
.inline-image-text {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem 0;
  flex-wrap: wrap;
  padding-left: 2rem;
}


.inline-image-text.reverse {
  flex-direction: row-reverse;
}

/* Formats layout for larger screens. */
@media (min-width: 768px) {
  .inline-image-text {
    flex-wrap: nowrap; 
    align-items: center;
    }
}

/* Formats the image text. */
.inline-image-text .text-content {
  flex: 1;
  min-width: 250px;
}

/* Formats the image container for the Frosted Image component. */
.inline-image-text .frosted-container {
  max-width: 300px;
  margin: 0;
}

/* Styles for smaller screens. */
@media (max-width: 767px) {
  .inline-image-text {
    flex-direction: column;
    align-items: center;
    text-align: center; 
  }

  .inline-image-text.reverse {
    flex-direction: column-reverse;
  }

  .inline-image-text .frosted-container {
    margin: 0 auto;
  }
}