/* Navbar.module.css */

/* Contains styling for the Navigation Bar component (Navbar.jsx). */



/* Navbar block styling */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0.75rem;
  background-color: #fdfff6;
  border-top: 2px solid #c3e344;
  border-bottom: 2px solid #c3e344;
  font-family: "Nunito Sans", sans-serif;
  margin: 2%
}


/* Navbar link styling */
.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #383838;
  transition: color 0.3s ease;
  font-weight: 600;
}

/* Hover controls the color of the link when hovering with the mouse. */
.nav-link:hover {
  color: #0057b8;
}

/* Navbar icons styling */
.nav-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

/* Mobile screen size styling */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}



/* ****** DROPDOWN MENUS ****** /


/* Dropdown container that positions the dropdown menu. */
.dropdown-container {
  position: relative;
  display: inline-block;
}


/* Dropdown menu styling. */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fdfff6;
  border: 1px solid #c3e344;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 160px;
  border-radius: 10px;
}

/* Links within the dropdown menu. */
.dropdown-link {
  display: block;
  padding: 0.2rem 0.8rem;
  text-decoration: none;
  color: #383838;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: large;
  border-bottom: 0.2px solid #c3e344;
  border-radius: 10px;
}


/* Colors applied when hovering over a dropdown link */
.dropdown-link:hover {
  background-color: #e8f5c8;
  color: #0057b8;
  border-radius: 10px;
}
