/* styles/PlantSelector.module.css */


.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

.plantCard {
  border: 1px solid #383838;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fdfff6;
  width: auto;
  height: 455px;
  overflow: hidden;
  position: relative;
}


.plantImage {
  object-fit: cover;
  margin-bottom: 0.5rem;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #fdfff6;
  box-shadow: 0 4px 6px #383838;
}

.plantName {
  font-weight: bold;
}

.plantNotes {
  font-size: 0.9rem;
  color: #383838;
}





/* Styles the text that counts plant selections for each category */
.catTitle {
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 2%;
  border-radius: 999px;
  background-color: #0057b8;
  padding: 1%;
  color: #fdfff6;
  width: 25%;
  display: inline-block;
  font-size: 1.5rem;
}





/* Styles the plant selection buttons and their text*/
.qtyControls {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #fdfff6;
  padding-top: 0.5rem;
  color: #383838;
}

.qtyControls button {
  padding: 4px 8px;
  font-size: 1rem;
  cursor: pointer;
  color: #006747;
  width: 30px;
  border-radius: 999px;
  border: 0.5px solid #383838;
}

.qtyControls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.qtyControls span {
  min-width: 20px;
  text-align: center;
}
