/* PlantSelector.module.css */
/* Contains styling for the Plant Selector component (PlantSelector.jsx). */



/* Creates a grid of plant cards with plant photos and information. */
.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

/* Styles for smaller screens. */
@media (min-width: 640px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Styles for larger screens. */
@media (min-width: 910px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Styles for largest screens. */
@media (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Styles the plant image for smaller screens. */
@media (max-width: 640px) {
  .plantImage {
    width: 50px;
    height: 50px;
  }
}



/* ************* PLANT CARD ************** */

/* Creates a card to hold plant data within the grid format. */
.plantCard {
  border: 1px solid #383838;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fdfff6;
  width: auto;
  height: 460px;
  overflow: hidden;
  position: relative;
}


/* Styles the image shown in each plant card. */
.plantImage {
  object-fit: cover;
  margin-bottom: 0.5rem;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #fdfff6;
  box-shadow: 0 4px 6px #383838;
}

/* Styles the name of the plant in each plant card. */
.plantName {
  font-weight: bold;
}


/* Styles the description/note of the plant in each plant card.
Includes the image attributions. */
.plantNotes {
  font-size: 0.9rem;
  color: #383838;
  overflow-y: auto;
  max-height: 450px;
}



/* ************* SELECTIONS ************** */

/* Styles the text that counts plant selections for each category. */
.catTitle {
  font-weight: bold;
  border-radius: 999px;
  background-color: #0057b8;
  padding: 0.8rem;
  color: #fdfff6;
  font-size: 1rem;
  width: fit-content;
  display: inline-block;
}


/* Floating count bubble that scrolls with the page. */
.floatingCount {
  position: fixed;
  background-color: #c3e344;
  color: #383838;
  padding: 0.6rem 1rem;
  border-radius: 999px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.catHeaderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 30px;

  width: 100%;
  padding: 1rem;
  background-color: #fdfff6;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #383838;
}

.catCount {
  position: sticky;
  top: 10px;
  background-color: #c3e344;
  color: #383838;
  padding: 0.6rem 1rem;
  border-radius: 999px;
  font-weight: bold;
  font-size: 1rem;
}


/* Styles the floating counter that hovers on the page globally. */
.globalFloatingCounter {
  position: fixed;
  top: 80px;
  right: 20px;
  background-color: #c3e344;
  color: #383838;
  padding: 0.8rem 1.2rem;
  border-radius: 999px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 999;
}




/* Styles the plant selection buttons and their text. */
.qtyControls {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #fdfff6;
  padding-top: 0.5rem;
  color: #383838;
}


/* Styles the quantity control button (+/-). */
.qtyControls button {
  padding: 4px 8px;
  font-size: 1rem;
  cursor: pointer;
  color: #006747;
  width: 30px;
  border-radius: 999px;
  border: 0.5px solid #383838;
}

/* Styles the quantity control button when it is disabled. */
.qtyControls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


/* Styles the quantity control button (+/-). */
.qtyControls span {
  min-width: 20px;
  text-align: center;
}

@media (max-width: 400px) {
  .catTitle {
    font-weight: bold;
    border-radius: 999px;
    background-color: #0057b8;
    padding: 0.8rem;
    color: #fdfff6;
    font-size: 0.7rem;
    width: fit-content;
    display: inline-block;
  }
  .catCount {
    position: sticky;
    top: 10px;
    background-color: #c3e344;
    color: #383838;
    padding: 0.6rem 1rem;
    border-radius: 999px;
    font-weight: bold;
    font-size: 0.7rem;
  }
}