/* QuantityTracker.module.css */

/* Contains styling for the Quantity Tracker component (QuantityTracker.jsx). */


/* Positions and styles the tracker. */
.trackerWrapper {
  position: relative
}

/* Positions and styles the tracker. */
.tracker {
  position: fixed;
  bottom: 20px;
  left: 25%;
  transform: translateX(-50%);
  background-color: #c3e344;
  border: 1px solid #383838;
  border-radius: 10px;
  padding: 1rem;
  width: 550px;
  height: 55px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  z-index: 9999;
  font-family: sans-serif;
  padding-bottom: 10px;
}


/* Styles the tracker title. */
.tracker h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* Styles the list of quantities horizontally across the tracker. */
.tracker ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 3.2%;
}

.tracker p {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: small;
  justify-content: center;
}

.tracker li {
  margin-bottom: 0;
  font-size: 0.9rem;
  white-space: nowrap;
  margin-left: 3%;
}


/* Hides the tracker when footer is in view. */
.hide {
  display: none;
}

@media (max-width: 1050px) {
  .tracker {
    left: 50%;
    width: 395px;
    height: 45px;
  }
  .tracker h4 {
  font-size: medium;
  }
  .tracker ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: smaller;
  }
  .tracker li {
    margin-bottom: 0;
    font-size: 0.9rem;
    white-space: nowrap;
    font-size: 1.75vh;
    padding-left: 2.2%;
    font-size: x-small;
  }

}