.App {
  background-color: #f5f5f5;
  text-align: center;
  color: #383838;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}


.App-header {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f5f5f5;
}

.App-link {
  color: #006747;
}


button {
  font-size: calc(10px + 2vmin);
}
