/* Additional baseline and custom styling */

/* Custom fonts can be added here. Copy the @font-face block and replace the font-family
name with the name of your new font. Add the new font's URL and format. Then,
you can reference the new font by name in other parts of your code. */
@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
}


body {
  margin: 0;
  font-family: "Nunito Sans";
  font-size: x-large;
  color: #383838;
  background-color: #fdfff6;
  text-align: center;
  padding: 25px;
}

.subheader {
  background-color: #c3e344;
}

header {
  background-color: #fdfff6;
  font-family: "Nunito Sans";
  font-size: xx-large;
  color: #006747;
  font-weight: bold;
  text-align: left;
}

.bold_text {
  font-family: "Nunito Sans";
  font-weight: bold;
  font-size: x-large;
  color: #383838

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
