@font-face {
  font-family: "Nunito Sans";
  src: url("public/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Nunito Sans";
  font-size: x-large;
  color: #383838;
  background-color: #f5f5f5;
  text-align: center;
  padding: 25px;
}

.subheader {
  background-color: #c3e344;
}

header {
  background-color: #f5f5f5;
  font-family: "Nunito Sans";
  font-size: xx-large;
  color: #006747;
  font-weight: bold;
  text-align: left;
}

.bold_text {
  font-family: "Nunito Sans";
  font-weight: bold;
  font-size: x-large;
  color: #383838

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
