/* Subheader and section breaks */
.subheader {
  background-color: #c3e344;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 2rem 0;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fdfff6;
  text-shadow: 4px 4px 8px #383838;

  outline-style: solid;
  outline-color: #383838;
  outline-width: 1.5px;

  /* Adds background image to subheader block components */
  background-image: url("photos/about_image_003.jpg");
  background-repeat: repeat;
  background-size: 1400px;
  background-blend-mode: multiply;
}


/* Main content for each page. */
.about_content {
    border-radius: 10px;
    background-color: #2094d243; /* Semi-translucent */
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 8px;
    margin: 2%
}


/* Custom link text color for links on the Resources page*/
.resource_links {
  color: #0057b8;
  transition: color 0.3s ease;
  text-decoration: none;
}

/* Hover controls the color of the link when hovering with the mouse. */
.resource_links:hover {
  color: #003e2b;
  font-size: 1.53rem;
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}


/* Custom link text color for misc. links on various pages*/
.other_links {
  font-weight: bold;
  color: #0057b8;
  transition: color 0.3s ease;
  text-decoration-thickness: 1.95px;
  /*text-decoration: none;*/
}

/* Hover controls the color of the link when hovering with the mouse. */
.other_links:hover {
  color: #003e2b;
}


/* Content for the Resource page, or any left-justified content */
.resource_content {
  justify-content: "left";

}


/* Styles notes on the guide pages */
.note_content {
    border-radius: 10px;
    background-color: #0057b8;
    padding: 3%;
    margin: 3%;
    color: #fdfff6;
    display: inline-block;
    width: 70%;
    font-size: 1.3rem
}



/* Styles notes on the guide pages */
.result_content {
    border-radius: 10px;
    background-color: #fdfff6; 
    padding: 10px;
    margin: 2%
}


/* Styles the input box (example: used in the Plant Calculator) */
.inputBox {
  width: 4rem;
  background-color: #fdfff6;
  margin: 2%;
  border: 1px solid #383838;
  border-radius: 999px;
  padding: 10px;
  text-align: center;
}