/* Additional site-wide styling. See each comment below for details */


/* Subheader / section breaks */
.subheader {
  background-color: #c3e344;
  border-radius: 10px;
  padding: 1vh;
  margin: 2rem 0;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fdfff6;
  text-shadow: 4px 4px 8px #383838;

  outline-style: solid;
  outline-color: #383838;
  outline-width: 1.5px;

  /* Adds background image to subheader block components */
  background-image: url("/clcf_2025/photos/about_image_003.jpg");
  background-repeat: repeat;
  background-size: 1800px;
  background-blend-mode: multiply;
}


/* Main content block for each page (content that occurs in the
light-blue background. */
.about_content {
    border-radius: 10px;
    background-color: #2094d243; /* Semi-translucent */
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 8px;
    margin: 2%
}


/* Custom link text color for links on the Resources page*/
.resource_links {
  color: #0057b8;
  transition: color 0.3s ease;
  text-decoration: none;
}

/* Hover controls the color of the link when hovering with the mouse. */
.resource_links:hover {
  color: #003e2b;
  font-size: 1.53rem;
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}


/* Custom link text color for misc. links on various pages*/
.other_links {
  font-weight: bold;
  color: #0057b8;
  transition: color 0.3s ease;
  text-decoration-thickness: 1.95px;
}

/* Hover controls the color of the link when hovering with the mouse. */
.other_links:hover {
  color: #003e2b;
}


/* Content for the Resource page, or any left-justified content */
.resource_content {
  justify-content: "left";
}


.note_content {
  background-color: #0057b8;
  color: #fdfff6;
  padding: 20px 30px;
  border-radius: 999px;
  display: inline-block;
  box-sizing: border-box;

  max-width: 50ch;          /* Constrains width to ~40 characters */
  white-space: normal;      /* Allows wrapping */
  word-wrap: break-word;
  overflow-wrap: break-word;
}


/* Styles the results sections on various pages,
or content that otherwise needs to be separated from
the main content. */
.result_content {
    border-radius: 10px;
    background-color: #fdfff6; 
    padding: 10px;
    margin: 2%
}


/* Styles user input boxes (example: used in the Plant Calculator). */
.inputBox {
  width: 4rem;
  background-color: #fdfff6;
  margin: 2%;
  border: 1px solid #383838;
  border-radius: 999px;
  padding: 10px;
  text-align: center;
}


/* Styles the plant calculator results section. */
.plantCountRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
  margin-top: 1rem;
  justify-content: center;
  margin: 30px;
}

.plantCountItem {
  display: inline-block;
  margin: 10px;
}

.plantCountBubble {
  background-color: #0057b8;
  color: #fdfff6;
  border-radius: 999px;
  padding: 0.7rem 1.2rem;
  white-space: nowrap;
}


.dropdownHelp {
  background-color: #0057b8;
  color: #fdfff6;
  border: 999px;
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  font-family: 'Nunito Sans';
  font-size: medium;
  font-weight: bold;
}



/* Styles images side-by-side. Example: logos on the contact page. */
.imageContainer {
  text-align: center;
}

.imageContainer img {
  display: inline-block;
  margin: 0 1% 0 1%;
}

.imageContainer img:nth-child(1) {
  max-width: 20%;
}

.imageContainer img:nth-child(2) {
  max-width: 30%;
}

.imageContainer img:nth-child(3) {
  max-width: 30%;
  vertical-align: 10px;
}


@media (max-width: 600px) {
  .subheader {
    padding: 3%;
    font-size: 1.5rem;
  }
  .imageContainer img {
    display: inline-block;
    margin: 0 1% 0 1%;
  }

  .imageContainer img:nth-child(1) {
    max-width: 80%;
    padding-bottom: 3%;
  }

  .imageContainer img:nth-child(2) {
    max-width: 80%;
    padding-bottom: 3%;
  }

  .imageContainer img:nth-child(3) {
    max-width: 80%;
    vertical-align: 10px;
    padding-bottom: 5%;
  }
}

@media (max-width: 1200px) {
  .subheader {
    background-size: 2200px;
  }
}

